.active-completed__inner {
    padding: 0 40px;
    display: flex;
    align-items: center;
    font-size: 24px;
}
.active-completed__inner h4 {
    transition: color 0.3s;
}

.active-completed__inner h4:hover {
    cursor: pointer;
    color: #ff6464;
}

.btn-container:last-child {
    margin-left: 65px;
}

.btn__underline {
    max-width: 0;
    border-radius: 50px;
    height: 4px;
    background-color: #ff6464;
    transition: max-width 0.3s;
}

.active .btn__underline {
    max-width: 100%;
}

.active h4 {
    color: #ff6464;
}
