:root {
    --primary-gradient: linear-gradient(90deg, #ff6464 0%, #ff9e9e 100%);
    --primary-color: rgba(255, 255, 255, 1);
    --secondary-background: rgba(255, 255, 255, 1);
    --secondary-color: rgba(97, 97, 97, 1);
    --tab-border-radius: 83px;
    --tab-padding: 10px 20px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/Poppins-ExtraBold.ttf') format('truetype');
    font-display: swap;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
}

body {
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    color: rgba(128, 128, 128, 1);
}

a {
    text-decoration: none;
    color: rgba(128, 128, 128, 1);
}

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
}
